<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.aceproject.board.dao">

	<resultMap id="BoardMap" type="com.aceproject.board.dto.BoardDto">
		<result property="boardId" column="board_id"/>
		<result property="title" column="board_title"/>
		<result property="content" column="board_content"/>
		<result property="boardCrtDate" column="board_crt_date"/>
		<result property="userId" column="user_id"/>
		<result property="userNickname" column="user_nickname"/>
	</resultMap>
    
    <select id="selectBoardList" resultMap="BoardMap">
        select b.board_id, b.board_title, b.board_content, b.board_crt_date, u.user_id, u.user_nickname 
        from board b, user u
        where b.user_id = u.user_id
        order by b.board_id DESC;
    </select>
    
    <insert id="insertPost" useGeneratedKeys="true" parameterType="com.aceproject.board.dto.BoardDto" keyProperty="boardId">
        insert into
        board(
            board_title
            , board_content
            , board_crt_date
            , user_id)
        values(
            #{title}
            , #{content}
            , current_timestamp
            , #{userId})
    </insert>
    
    <update id="updatePost" parameterType="int">
        update board set
            board_title = #{title}
            , board_content = #{content}
        where
            board_id = #{boardId}
    </update>
    
    <delete id="deletePost">
        delete from board
        where
            board_id = #{boardId}
    </delete>
    
    <select id="selectPostById" parameterType="int" resultType="com.aceproject.board.dto.BoardDto">
        select b.board_id, b.board_title, b.board_content, b.board_crt_date, u.user_id, u.user_nickname
        from board b, user u
        where b.user_id = u.user_id
        and b.board_id = #{boardId}
    </select>
</mapper>